@if(todoForm!=null){
<div class="main-container">
    <!--mat-card cant use flex!!!-->
    <mat-card id="full-cover-background" class="p-6 rounded shadow-md w-full max-w-md bg-white">
        <mat-card-header>
            <mat-card-title class="text-center w-full">{{currentUser?.firstname}}'s task</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="mt-10" [formGroup]="todoForm" (ngSubmit)="onSubmit()">

                <!----- Title ----->
                <div id="titre-container">
                    <mat-form-field class="field">
                        <mat-label>Title:</mat-label>
                        <input matInput formControlName="title">
                    </mat-form-field>
                </div>

                <!-----chips----->
                <div>
                    <mat-form-field class="field">
                        <mat-label>Membre</mat-label>
                        <mat-chip-grid #chipGrid aria-label="User selection">
                            @for (user of selectedContacts; track user.id) {
                            <mat-chip-row (removed)="remove(user.id)">
                                {{user.firstName}}
                                <button matChipRemove [attr.aria-label]="'remove ' + user.firstName">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip-row>
                            }
                        </mat-chip-grid>

                        <input name="currentUser" #userInput [formControl]="currentContact" [matChipInputFor]="chipGrid"
                            [matAutocomplete]="auto" (input)="onCurrentUserChange(userInput.value)" />

                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                            @for (user of filteredContacts; track user) {
                            <mat-option [value]="user.id">{{user.firstName}}</mat-option>
                            }
                        </mat-autocomplete>

                    </mat-form-field>
                </div>


                <!-----user----->
                <div id="user-container">
                    <mat-form-field class="field">
                        <mat-label>User:</mat-label>
                        <mat-select formControlName="userIds" multiple>
                            @for (user of users; track user.id){
                            <mat-option [value]="user.id">{{ user.firstname }} {{ user.lastname }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <!----- Priority ----->
                <div id="priority-container">
                    <mat-form-field class="field">
                        <mat-label>Priority:</mat-label>
                        <mat-select formControlName="priority">
                            @for (priority of listPriority; track priority.value){
                            <mat-option [value]="priority.value">{{priority.text}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-----project----->
                <div id="projectId-container">
                    <mat-form-field class="field">
                        <mat-label>Project ID:</mat-label>
                        <mat-select formControlName="projectId">
                            @for(project of projects; track project.id){
                            <mat-option [value]="project.id">{{project.title}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-----Date----->
                <div id="date-container">
                    <mat-form-field class="field">
                        <mat-label>Date:</mat-label>
                        <input matInput formControlName="dueDate" [matDatepicker]="picker">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-----Description----->
                <div id="description-container">
                    <mat-form-field class="field">
                        <mat-label>Description</mat-label>
                        <textarea matInput formControlName="description"></textarea>
                    </mat-form-field>
                </div>

                <!-----Completed----->
                <div class="mb-5">
                    <mat-checkbox formControlName="completed"></mat-checkbox>
                    <mat-label>completed</mat-label>
                </div>

                <mat-card-actions>
                    <button mat-raised-button type="submit" class="w-30">
                        save
                    </button>
                    <button mat-button type="button" (click)="onCancel()" class="w-30">
                        cancel
                    </button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>
}