<div class="main-container" *ngIf="todoForm != null">
    <mat-card class="card2" [class.open]="todoId !== null" [class.active]="todoTitle">
        <form [formGroup]="todoForm" (ngSubmit)="onSave()" class="form-grid custom-form">

            <!-- Title -->
            <div class="form-row full-width">
                <input id="title" type="text" formControlName="title" class="custom-input" />
            </div>

            <!-- Description -->
            <div class="form-row full-width">
                <textarea id="description" formControlName="description" placeholder="description"
                    class="custom-input"></textarea>
            </div>

            <!-- Date -->
            <div class="form-row">
                <label for="dueDate">Date</label>
                <input id="dueDate" type="date" formControlName="dueDate" class="custom-input" />
            </div>

            <!-- Project -->
            <div class="form-row">
                <label for="projectId">Project</label>
                <select id="projectId" formControlName="projectId" class="custom-input">
                    @for(project of projects; track project.id){
                    <option [value]="project.id">{{project.title}}</option>
                    }
                </select>
            </div>

            <!-- Priority -->
            <div class="form-row">
                <label for="priority">Priority</label>
                <select id="priority" formControlName="priority" class="custom-input">
                    @for(priority of listPriority; track priority.value){
                    <option [value]="priority.value">{{priority.text}}</option>
                    }
                </select>
            </div>

            <!-- User -->
            <div class="form-row">
                <label for="userIds">User</label>
                <select id="userIds" formControlName="userIds" multiple class="custom-input">
                    @for(user of users; track user.id){
                    <option [value]="user.id">{{ user.firstname }} {{ user.lastname }}</option>
                    }
                </select>
            </div>

            <!-- Contacts (Chip) -->
            <div class="form-row">
                <label>Contacts</label>
                <div class="custom-input chip-wrapper">
                    <mat-chip-grid #chipGrid aria-label="User selection" class="chip-grid">
                        @for(user of selectedContacts; track user.id){
                        <mat-chip-row (removed)="remove(user.id!)">
                            {{user.firstName}}
                            <button matChipRemove [attr.aria-label]="'remove ' + user.firstName">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        }
                    </mat-chip-grid>

                    <!-- placeholder -->
                    <span class="chip-placeholder" *ngIf="selectedContacts.length === 0 && !currentContact.value">
                        + Contacts
                    </span>

                    <input name="currentUser" #userInput [formControl]="currentContact" [matChipInputFor]="chipGrid"
                        [matAutocomplete]="auto" (input)="onCurrentUserChange(userInput.value)" class="chip-input" />

                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                        @for(user of filteredContacts; track user){
                        <mat-option [value]="user.id">{{user.firstName}}</mat-option>
                        }
                    </mat-autocomplete>
                </div>
            </div>
            
            <!-- Completed -->
            <div class="form-row">
                <label>Status</label>
                <mat-checkbox formControlName="completed"></mat-checkbox>
            </div>

            <!-- Buttons -->
            <div class="form-actions">
                <button type="button" (click)="onCancel()" class="btn-cancel">
                    <mat-icon>cancel</mat-icon> cancel
                </button>
                <button type="submit" class="btn-save">
                    <img src="assets/heart.png" alt="Logo" class="w-8 h-8 rounded-full" /> save
                </button>
            </div>
        </form>
    </mat-card>
</div>