<div class="flex flex-col h-full items-center entry-page">

    <img src="assets/logo.png" alt="Logo" class="login-logo" />

    <div class="bg-white p-10 shadow-2xl form-card">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

            <div class="login-field">
                <mat-icon class="input-icon">email</mat-icon>
                <input formControlName="username" type="email" class="login-input" placeholder="Email">
            </div>

            <div class="login-field">
                <mat-icon class="input-icon">lock</mat-icon>
                <input formControlName="password" type="password" class="login-input" placeholder="Password">
            </div>

            <button mat-flat-button type="submit" class="w-full login-btn mt-4">
                Log In
            </button>

            <div class="flex flex-col items-center mt-2 gap-4">
                <span class="text-gray-400 text-xl">Don't have an account?</span>
                <a class="text-orange-400 font-bold signup-link" routerLink="/signup">Sign Up</a>
            </div>
        </form>
    </div>
</div>