<div class="flex h-full p-4 gap-4">
    <mat-card class="card1">
        <form [formGroup]="formGroup">
            <!-- input -->
            <mat-form-field appearance="outline" class="w-full input1">
                <mat-icon matPrefix>search</mat-icon>
                <input matInput formControlName="textSearch" (input)="onSearch()" placeholder="Search user...">
            </mat-form-field>

            <!-- button -->
            <button class="btn-add w-full" (click)="addUser()">
                <img src="assets/catBtn.png" alt="Add" class="w-10 h-10" />
                Add User
            </button>
        </form>
        <!-- User List with Checkboxes -->
        <mat-list class="space-y-5">
            @for(user of users; track user.id){
            <mat-list-item (click)="openUserDetail(user.id)" class="list-item"
                [class.selected]="selectedUserId === user.id">
                <div>
                    <div class="flex items-center gap-2">
                        <mat-checkbox [checked]="checked(user)" (change)="select(user)"
                            (click)="stopClick($event)"></mat-checkbox>
                        {{user.firstname}}, {{user.lastname}}
                    </div>
                </div>
            </mat-list-item>
            }
        </mat-list>
        <!-- Delete Button -->
        <div class="form-actions">
            <button type="button" class="btn-delete w-30" (click)="deleteUser()">
                <mat-icon>delete</mat-icon>
                delete
            </button>
        </div>


    </mat-card>

    <!--R: Signup / user's detail-->
    <div class="flex-1 drawer" [class.open]="selectedUserId !== null">
        <app-signup [userId]="selectedUserId" [isAdminMode]="true" (close)="onCloseDetail()">
        </app-signup>
    </div>
</div>