.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

mat-card-header {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* width of champs*/
.field {
    width: 300px;
    min-width: 250px;
}

/* mat-form-field: center */
form {
    text-align: center;
}

mat-card-actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
}