<div id="profile-container" class="max-w-md mx-auto p-6 bg-blue-100 rounded-lg shadow-md flex items-center gap-6">
    <img [src]="user?.image || '/assets/user.png'" alt="user image "
        class="rounded-full w-35 h-35 object-cover border-3 border-blue-300 shadow-md flex-shrink-0" />

    <!--!editMode:cant modify -> show infos -->
    @if (!editMode) {
    <div class="flex flex-col flex-grow justify-center">
        <h2 class="text-2xl font-semibold text-blue-900 mb-4">{{ user?.username }}</h2>

    </div>
    <button (click)="enableEdit()"
        class="self-center px-6 py-2 bg-blue-500 text-white rounded shadow hover:bg-blue-700 transition duration-300">
        Edit
    </button>

    <!--can modify-->
    } @else {
    <form [formGroup]="profileForm" (ngSubmit)="saveProfile()" class="space-y-4">
        <input type="text" formControlName="username"
            class="w-full px-4 py-2 border border-blue-400 rounded focus:outline-none focus:ring-2 focus:ring-blue-600" />

        <div class="flex justify-center gap-4">
            <button type="submit" [disabled]="profileForm.invalid"
                class="px-6 py-2 bg-blue-500 text-white rounded shadow disabled:opacity-50 hover:bg-blue-700 transition duration-300">
                Save
            </button>
            <button type="button" (click)="cancel()"
                class="px-6 py-2 bg-gray-300 text-gray-700 rounded hover:bg-gray-400 transition duration-300">
                Cancel
            </button>
        </div>
    </form>
    }
</div>